<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
    <script src="https://usetrmnl.com/js/latest/plugins.js"></script>
    <script>
      // Detect when the hard coded "max height" of the content element needs
      // to be adjusted.
      // We need to put a max height on the content element for trml's text
      // resizing method to run, but there's already been two times where I
      // had to adjust the size when I didn't change anything.

      // released some update that changed
      // Could probably do reporting on actual vs target max size some time
      // trmnl has to text resizing methods, fitValue for text and
      // fitTextToContainer for numbers (which doesn't take height into
      // account).
      // fitValue() looks at:
      //    elementRect.width > containerRect.width || maxHeight && elementRect.height > maxHeight)
      // fitTextToContainer() looks at:
      //    element.scrollWidth > container.clientWidth && fontSize > 8
      setTimeout(() => {
        let container = document.querySelector("#container")
        let content = document.querySelector("#content")
        let configuredMaxHeight = content.attributes['data-value-fit-max-height'].value
        let siblingHeight = 0
        // Subtract the height of all children of the container (plus 10px
        // from the row-gap) from the container's height. Allocate the rest to
        // the content element. This could possible be made more generic by
        // looking for the element with 'stretch-y' set to use as the variable
        // height one.
        Array.from(container.children).forEach((el) => {
          if (el != content) {
            siblingHeight += (el.getBoundingClientRect().height + 10)
          }
        })
        let maxHeight = container.getBoundingClientRect().height - siblingHeight
        if (configuredMaxHeight < maxHeight) {
          document.querySelector('.title').textContent += ' ⚠'

          console.warn(`Max height for content needs to be adjusted configured=${configuredMaxHeight} actual=${maxHeight}`)
          content.attributes['data-value-fit-max-height'].value = maxHeight

          // Re-run text fitting
          fitValue()
        }
      },
        250
      )
    </script>
    <style>
      /* Element specific styles because I couldn't figure out how to do
         everything with the trmnl css framework.
      */
      #container {
        /* have the main element fill the whole screen so the title and label
           elements can be put right at the top and bottom. */
        height: 100%;
        width: 100%;
      }
      #content {
        align-content: center;  /* center align the element (but not text) */
      }
      #content.nowrap {
        /* To prevent text reflowing but also have the JS resize text to fit, we
        need to set nowrap and for the content to be bigger than the parent
        container if the content requires it. */
        white-space: nowrap;
        width: fit-content !important;
      }
      #attribution {
        align-content: end;  /* put label text at bottom of stretch container */
      }
    </style>
  </head>
  <body class="environment trmnl">
    <div class="screen">
      <div class="view view--full">
        <div class="layout">
          <!--
            TODO:
            * bump label and title size a bit?
            * font could be rendered better, a symptom of the screenshot
              plugin?
          -->
          <!-- flex col for title/content/label with content resizing to fit
            the text and title/label stretching to fill the remaining vertical
            space -->
          <div id="container" class="flex flex--col">
            {% if title %}
              <span class="title text--center">{{ title }}</span>
            {% endif %}
            <div
              id="content"
              class="
                {{ 'nowrap' if 'nowrap' in style }}
                {{ 'text--center' if 'centered' in style }}
                value value--xxxlarge stretch-y"
              data-value-fit="true"
              data-value-fit-max-height="{{ 345 if title and attribution else 382 if title or attribution else 401 }}"
            >
              {% for line in text %}
                <p>{{ line }}</p>
              {% endfor %}
            </div>
            <!-- flex row to put the attribution on the RHS without
              underlining the whole width -->
            <div class="stretch-x flex flex--row">
              <div class="stretch-x"></div>
              <div id="attribution" class="label label--underline text--right">{{attribution}}</div>
            </div>
          </div>
        </div>
        
        <div class="title_bar">
          <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
          <span class="title">Snippets {{ " | " if section}} {{section}}</span>
          <span class="instance">{{ theme | sort | join(' | ') }}</span>
        </div>
      </div>
    </div>
  </body>
</html>
