<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://usetrmnl.com/css/latest/plugins.css">
    <script src="https://usetrmnl.com/js/latest/plugins.js"></script>
    <style>
      /* playwright doesn't seem to respect my fontconfig fallbacks */
      .title {
        font-family: "DejaVu Serif" !important;
      }
      .content {
        font-family: "DejaVu Serif" !important;
      }
      .label {
        font-family: "DejaVu Serif" !important;
      }
    </style>
  </head>
  <body class="environment trmnl">
    <div class="screen">
      <div class="view view--full">
        <div class="layout">
          <div class="columns">
            <div class="column">
              <div class="markdown">
                <span class="title">Motivational Quote</span>
                <div class="content content--center">Care about people's approval</div>
                <div class="content content--center">and you will be their prisoner.</div>
                <span class="label label--underline">Tao 9</span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="title_bar">
          <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
          <span class="title">Plugin Title!</span>
          <span class="instance">Instance Title!</span>
        </div>
      </div>
    </div>
  </body>
</html>
